@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');

:root{
   --main-color:#fff;
   --sub-color: #f2a900;
   --white:#a09f9f;
   --border:.1rem solid rgb(235, 168, 12);
   --login-color: #20c997;
   --border-login:.1rem solid #20c997;
   --signup-color: #dc3545;
   --border-signup:.1rem solid #dc3545;
   --p-txt-color: #717171;
   --booking-color: #3C3C3B;
}

*{
   font-family: 'Montserrat', system-ui,-apple-system,"Segoe UI",
   "Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,
   "Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
   margin: 0; padding: 0;
   box-sizing: border-box;
   outline: none; border: none;
   text-decoration: none;
}

*::selection{
   background-color: var(--sub-color);
   color: var(--main-color);
}

/* ScrollBar */

*::-webkit-scrollbar{
   height: .5rem;
   width: 1rem;
}

*::-webkit-scrollbar-track{
   background-color: transparent;
}

*::-webkit-scrollbar-thumb{
   background-color: var(--sub-color);
   border-radius: 5rem;
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
   scroll-behavior: smooth;
   scroll-padding-top: 2rem;
}


section{
   padding: 3rem 2rem;
   max-width: 1200px;
   margin: 0 auto;
}

.btn{
   display: inline-block;
   cursor: pointer;
   padding: 1rem 3rem;
   border: var(--border);
   font-size: 1.5rem;
   color: var(--sub-color);
   text-align: center;
   text-transform: capitalize;
   transition: .2s linear;
   margin-top: 1rem;
   background-color: var(--main-color);
}

.btn:hover{
   border-radius: 5rem;
   background-color: var(--sub-color);
   color: var(--main-color);
}

.login{
   color: var(--login-color);
   border: var(--border-login);
   background-color: var(--main-color);
}

.login:hover{
   background-color: var(--login-color);
   color: var(--main-color);
   border-radius: 5rem;
}

.signup{
   color: var(--signup-color);
   border: var(--border-signup);
   background-color: var(--main-color);
}

.signup:hover{
   background-color: var(--signup-color);
   color: var(--main-color);
   border-radius: 5rem;
}

.header{
   padding-bottom: 0;
}

.header .flex{
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 1.5rem;
}

.header .flex .logo>img{
   width: 100%;
   height: fit-content;
}

.header .flex .btn{
   margin-top: 0;
}

.header .flex .group-btn>a{
   margin: 0 1rem;
}

.header .flex .fa-bars{
   font-size: 3rem;
   cursor: pointer;
   color: var(--sub-color);
   display: none;
}

.header .navbar{
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   gap: 1.5rem;
   margin-top: 2rem;
   background-color: var(--sub-color);
   padding: .5rem;
   border-radius: .5rem;
}

.header .navbar a{
   font-size: 1.5rem;
   color: var(--main-color);
   padding: 1rem 3rem;
   border-radius: .5rem;
   text-transform: capitalize;
}

.header .navbar a:hover{
   background-color: var(--main-color);
   color: var(--sub-color);
}

.home .box img{
   border-radius: .5rem;
   height: 60vh;
   width: 100%;
   object-fit: cover;
}

.home .box .flex{
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 1.5rem;
   flex-wrap: wrap;
   margin-top: 1.5rem;
}

.home .box .flex h3{
   font-size: 2.2rem;
   color: var(--sub-color);
   text-transform: capitalize;
}

.swiper-button-prev{
   left: 0%;
}

.swiper-button-next{
   right: 0;
}

.swiper-button-next,
.swiper-button-prev{
   padding: 3rem 2rem;
   background-color: var(--sub-color);
   top: 40%;
   opacity: .7;
}

.swiper-button-next::after,
.swiper-button-prev::after{
   color: var(--main-color);
   font-size: 2rem;
}

.swiper-button-next:hover,
.swiper-button-prev:hover{
   opacity: 1;
}

.availability form .flex{
   display: flex;
   flex-wrap: wrap;
   gap: 1.5rem;
}

.availability form .flex .box{
   flex: 1 1 20rem;
}

.availability form .flex .box p{
   font-size: 1.5rem;
   color: var(--sub-color);
}

.availability form .flex .box .input{
   width: 100%;
   font-size: 1.3rem;
   background-color: var(--main-color);
   color: var(--white);
   border-bottom: var(--border);
   margin: 1rem 0;
   padding: 10px;
}

.availability form .flex .box .input-p{
   width: 100%;
   font-size: 1.3rem;
   background-color: var(--main-color);
   color: var(--white);
   border-bottom: var(--border);
   margin: 1rem 0;
   padding: 10px 30px;
}

.availability form .flex .box input#voucher{
      background-image: url(/static/images/voucher.svg);
      background-repeat: no-repeat;
      background-position: 5px;
      width: 100%;
}

.availability form .flex .box input#room{
   background-image: url(/static/images/hotels.svg);
   background-repeat: no-repeat;
   background-position: 5px;
   width: 100%;
}

.about .row{
   display: flex;
   flex-wrap: wrap;
   gap: 1.5rem;
   text-align: center;
   align-items: center;
}

.about .row .image{
   flex: 1 1 40rem;
}

.about .row .image img{
   width: 40rem;
   border-radius: .5rem;
}

.about .row .image .about-img{
   width: 60rem;
   border-radius: .5rem;
}

.about .row .content{
   flex:1 1 40rem;
}

.about .row .content h3{
   font-size: 4rem;
   color: var(--sub-color);
   text-transform: capitalize;
   margin-bottom: 1rem;
}

.about .row .content p{
   line-height: 2;
   padding: 1rem 0;
   font-size: 1.7rem;
   color: var(--sub-color);
   text-align: center;
}

.about .row .content .style{
   line-height: 2;
   padding: 1rem 0;
   font-size: 1.7rem;
   color: var(--p-txt-color);
   text-align: justify;
}

.about .row .content ul{
   line-height: 2;
   font-size: 1.7rem;
   color: var(--sub-color);
   list-style: none;
}

.about a{
   margin: 0 auto;
}

.about .row.revers{
   flex-flow: row-reverse;
   margin: 3rem 0;
   flex-wrap: wrap;
}

.services .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
   gap: 1.5rem;
   justify-content: center;
   align-items: flex-start;
}

.services .box-container .box{
   padding: 2rem;
   text-align: center;
}

.services .box-container .box img{
   height: 7rem;
   margin-bottom: 1rem;
}

.services .box-container .box h3{
   font-size: 2rem;
   color: var(--sub-color);
   text-transform: capitalize;
   margin: 1rem 0;
}

.services .box-container .box p{
   line-height: 2;
   font-size: 1.5rem;
   color:var(--sub-color);
}

.reservation form{
   border: var(--border);
   padding: 2rem;
}

.reservation form .flex{
   display: flex;
   flex-wrap: wrap;
   gap: 1.5rem;
}

.reservation form h3{
   background-color: var(--sub-color);
   color: var(--main-color);
   font-size: 2rem;
   margin-bottom: 2rem;
   border-radius: .5rem;
   padding: 1.2rem;
   text-align: center;
   text-transform: capitalize;
}

.reservation form .flex .box{
   flex: 1 1 40rem;
}

.reservation form .flex .box p{
   font-size: 1.5rem;
   color: var(--sub-color);
}

.reservation form .flex .box .input{
   padding: 1rem 0;
   margin: 1rem 0;
   border-bottom: var(--border);
   background: var(--main-color);
   color: var(--white);
   font-size: 1.5rem;
   width: 100%;
}

.reservation form .flex .box input[type="datetime-local"]::-webkit-calendar-picker-indicator{
   filter: invert(1);
}

.gallery img{
   height: 40rem;
   width: 60rem;
   border-radius: .5rem;
   object-fit: cover;
   margin-bottom: 4rem;
   user-select: none;
}

.swiper-pagination-bullets.swiper-pagination-horizontal{
   bottom: 0;
}

.swiper-pagination-bullet{
   background-color: var(--white);
}

.swiper-pagination-bullet-active{
   background-color: var(--sub-color);
}

.contact .row{
   display: flex;
   align-items: flex-start;
   gap: 3rem;
   flex-wrap: wrap;
}

.contact .row form{
   flex: 1 1 40rem;
   border: var(--border);
   border-radius: .5rem;
   padding: 2rem;
   text-align: center;
}

.contact .row .faq{
   flex: 1 1 40rem;
}

.contact .row form h3{
   margin-bottom: 1rem;
   border-radius: .5rem;
   padding: 1.2rem;
   color: var(--main-color);
   background-color: var(--sub-color);
   font-size: 2rem;
   text-transform: capitalize;
}

.contact .row form .box{
   padding: 1rem 0;
   margin: 1rem 0;
   border-bottom: var(--border);
   font-size: 1.5rem;
   color: var(--sub-color);
   background:var(--main-color);
   width: 100%;
}

.contact .row form .box::placeholder{
   color: rgba(220, 198, 156, .6);
}

.contact .row form textarea{
   height: 15rem;
   resize: none;
}

.contact .row .faq .title{
   padding-bottom: .5rem;
   font-size: 2rem;
   color: var(--sub-color);
   text-transform: capitalize;
   text-align: center;
}

.contact .row .faq .box{
   border-radius: .5rem;
   border: var(--border);
   margin-top: 2rem;
}

.contact .row .faq .box h3{
   background-color: var(--sub-color);
   color: var(--main-color);
   padding: 1.5rem;
   font-size: 1.8rem;
   border-radius: .5rem;
   cursor: pointer;
}

.contact .row .faq .box p{
   padding:1.5rem 2rem;
   line-height: 2;
   font-size: 1.5rem;
   color: var(--sub-color);
   display: none;
}

.contact .row label{
    font-size: 1.6rem;
    display: table;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--sub-color);
    text-align: left;
    font-weight: 700;
    margin-top: 1.5rem;
}

.contact .row .faq .box.active p{
   display: inline-block;
}

.reviews{
   padding-top: 0;
}

.reviews .box{
   text-align: center;
   user-select: none;
   padding: 2rem;
   margin-bottom: 4rem;
}

.reviews .box img{
   height: 7rem;
   width: 7rem;
   border-radius: 50%;
   object-fit: cover;
}

.reviews .box h3{
   margin: 1.5rem 0;
   font-size: 2rem;
   color: var(--sub-color);
}

.reviews .box p{
   line-height: 2;
   font-size: 1.5rem;
   color: var(--sub-color);
}

.footer .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
   gap: 1.5rem;
   justify-content: center;
   align-items: flex-start;
   padding-bottom: 3rem;
}

.footer .box-container .box a{
   display: block;
   font-size: 1.8rem;
   color: var(--white);
   padding: 1rem 0;
}

.footer .box-container .box a:hover{
   color: var(--sub-color);
}

.footer .box-container .box:first-child i{
   margin-right: 1.7rem;
}

.footer .box-container .box:nth-child(2){
   text-align: center;
}

.footer .box-container .box:last-child{
   text-align:right;
}

.footer .box-container .box:last-child i{
   margin-left: 1.7rem;
}

.footer .credit{
   border-radius: .5rem;
   text-align: center;
   font-size: 1.5rem;
   padding: 1rem;
   color: var(--main-color);
   background-color: var(--sub-color);
}

.container{
   margin: 0 auto;
   max-width: 100vw !important;
   height: 100vh;
   display: flex;
   justify-content: right;
}

.container .main .flex{
   max-width: 50%;
   margin: 0 auto;
}

.container .main .flex img{
   width: 100%;
}

.container .banner{
    height: 100vh;
}

.banner .text-banner{
    position: absolute;
    top: 40px;
    left: 40px;
    color: white;
    width: 70%;
    font-size: 1.8rem;
}

.banner .text-banner h4{
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom: 2rem
}

.banner .text-banner p{
    margin-top: 0;
    margin-bottom: 1rem;
}

.container .banner img{
    height: 100%;
    object-fit: cover;
}

.container .main{
   padding: 40px;
   width: 40%;
}

.container .main form{
   padding: 2rem;
   width: 400px;
   border-radius: 20px;
   height: 500px;
   color: var(--sub-color);
}

 .container form h3{
   margin-bottom: 1rem;
   padding: 1.2rem 0;
   font-size: 2rem;
   text-transform: capitalize;
   text-align: left;
}

.container form .box{
   padding: 1rem 4rem;
   border: var(--border);
   border-radius: 5px;
   font-size: 1.5rem;
   color: var(--sub-color);
   background:var(--main-color);
   width: 100%;
    margin: 2rem 0;
}

.container form .box::placeholder{
   color: rgba(220, 198, 156, .6);
}

.container form .btn{
    display: block;
    margin: 4rem auto;
}

.container form .btn:hover{
   border: 1px solid var(--main-color);
}

/* Go to top */
.up-button {
  position: fixed;
  bottom: 40px;
  right: 30px;
  width: 40px;
  height: 40px;
  background: var(--sub-color);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}

/* Phone Button */
.social-button {
  position: fixed;
  bottom: 100px;
  right: 30px;
  width: 40px;
  height: 40px;
  background: var(--sub-color);
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 20px;
  cursor: pointer;
}

.email {
  position: fixed;
  bottom: 150px;
  right: 30px;
  width: 40px;
  height: 40px;
  background: var(--sub-color);
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 20px;
}

.booking{
    display: grid;
    grid-template-columns: 2.4fr 1fr;
    grid-gap: 20px;
    background: var(--booking-color);
    border-radius: 30px;
}

.block {
    background: var(--main-color);
    padding: 2rem;
    margin-bottom: 1.2rem;
    position: relative;
    border-radius: 10px;
}

.block-item {
    display: grid;
    grid-template-columns: 300px auto;
    grid-gap: 20px;
}

.block .block-item .images img{
    border-radius: 10px;
    width: 300px;
}

.block-item .content h3{
    font-size: 1.8rem;
    color: var(--sub-color);
    text-transform: capitalize;
    margin-bottom: 1rem;
    font-weight: 700;
}

.block-item .content .room-price{
    position: absolute;
    bottom: 2rem;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.block-item .content .room-price .room-min-price p:nth-child(1) {
    font-size: 1.5rem;
    line-height: normal;
    color: var(--p-txt-color);
        font-weight: 400;
}

.block-item .content .room-price .room-min-price p:nth-child(2) {
    font-size: 2rem;
    line-height: normal;
    color: var(--sub-color);
    font-weight: 700;
}

.block-item .content .room-price .room-min-price p:nth-child(2) span {
    color: var(--p-txt-color);
    font-size: 1.5rem;
    font-weight: 400;
}

.list-room-hidden .block .item-rate:first-child {
    padding: 30px 0;
    display: grid;
    grid-template-columns: 1.2fr 200px 1fr 150px;
    justify-content: space-between;
    position: relative;
    grid-gap: 20px;
    align-items: center;
}

.room-price .room-min-price p:nth-child(1) {
    font-size: 1.4rem;
    line-height: normal;
    color: var(--sub-color);
    font-weight: 700;
}

.room-price .room-min-price p:nth-child(1) span {
    color: var(--p-txt-color);
    font-size: 1rem;
    font-weight: 400;
}

.block-info h3 {
    font-weight: 700;
    font-size: 2rem;
    line-height: normal;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #DDDDDD;
}

.block-info .static-info-book p {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: normal;
    margin-bottom: 15px;
}

.block-info .static-info-book {
    border-bottom: 1px dashed #DDDDDD;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.list-room-hidden{
    display: none;
}

.block-info .total-info-book {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: normal;
    margin-bottom: 30px;
}

.block-info .total-info-book #total-book {
    font-size: 1.5rem;
    color: var(--sub-color);
}

.block-info .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    background: var(--sub-color);
    border-radius: 3px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    color: var(--main-color);
    pointer-events: none;
}

.select-type-room select, .select-type-customer select, .select-amount-room select{
        border: 1px solid #cccc;
}

.flex1 {
  display: flex;
  justify-content: space-between;
}

.room .grid {
  grid-template-columns: repeat(3, 1fr);
}

.room img {
  width: 100%;
  height: 100%;
}

.room .box {
  box-shadow: 0 13px 43px 0 rgb(37 46 89/10%);
}

.room .text {
  padding: 20px;
}

.room h5 {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 10px;
 }

.room h3 {
  font-size: 1.8rem;
    color: var(--sub-color);
    text-transform: capitalize;
    margin-bottom: 1rem;
    font-weight: 700;
}

.room h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 10px;
  color: var(--sub-color);
}

.room p span {
  color: var(--p-txt-color);
    font-size: 1.5rem;
    font-weight: 400;
}

.room p {
  font-size: 2rem;
    line-height: normal;
    color: var(--sub-color);
    font-weight: 700;
}


/* Responsive  */

@media (max-width:991px){

   html{
      font-size: 55%;
   }

   .header .flex .fa-bars{
      display: inline-block;
   }

   .header .flex .btn{
      display: none;
   }

   .header .navbar{
      flex-flow: column;
      padding: 2rem;
      display: none;
   }

   .header .navbar.active{
      display: flex;
   }

    .banner{
        display: none;
    }

    .btn{
        display: block;
        margin: 4rem auto;
        background-color: var(--sub-color);
        color: var(--main-color);
    }

    .signup {
        color: var(--main-color);
        background-color: var(--signup-color);
    }

    .container {
    margin: 0 auto;
    max-width: 800px !important;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    background: url(/static/images/login-banner.png);
    }

    .container .main form {
        margin: 4rem 0;
        padding: 0;
        width: inherit;
    }

    .container .main {
        padding: 20px;
        width: 100%;
    }
}

@media (max-width:768px){

   .home .box img{
      height: 40vh;
   }

   .swiper-button-next,
   .swiper-button-prev{
      top: 35%;
   }

}

@media (max-width:450px){

   html{
      font-size: 50%;
   }

   .header .flex .logo{
      font-size: 2rem;
   }

   .home .box img{
      height: 25rem;
   }

   .about .row .image img{
      width: 100%;
   }

   .about .row .content h3{
        font-size: 3rem;
   }

   .about .row .image .about-img{
       width: 100%;
   }

   .gallery img{
      height: 25rem;
      width: 30rem;
   }

}