<section class="footer">

   <div class="box-container">

      <div class="box">
         <a href="tel:1234567890"><i class="fas fa-phone"></i> 1900 1833</a>
         <a href="#"><i class="fa-solid fa-hotel"></i> Khách sạn, căn hộ kinh doanh dịch vụ lưu trú ngắn ngày, khu du lịch sinh thái, khu vui chơi giải trí, sân golf</a>
         <a href="mailto:shakhanas@gmail.com"><i class="fas fa-envelope"></i> info@muongthanh.vn</a>
         <a href="#"><i class="fas fa-map-marker-alt"></i> Số nhà 25, Tổ dân phố 21, Phường Him Lam, Thành phố Điện Biên Phủ, Tỉnh Điện Biên, Việt Nam</a>
      </div>

      <div class="box">
         <a href="#">Trang Chủ</a>
         <a href="#about">Về Chúng Tôi</a>
         <a href="#services">Dịch Vụ</a>
         <a href="#contact">Liên Hệ</a>
         <a href="#reviews">Reviews</a>
      </div>

      <div class="box">
         <a href="#">Facebook <i class="fab fa-facebook-f"></i></a>
         <a href="#">Twitter <i class="fab fa-twitter"></i></a>
         <a href="#">Instagram <i class="fab fa-instagram"></i></a>
         <a href="#">Linkedin <i class="fab fa-linkedin"></i></a>
      </div>

   </div>

   <div class="credit">
      &copy; 2022 Mường Thanh Hospitality. All Rights Reserved.
   </div>

   <!-- Go To Top -->
   <button onclick="topFunction();" class="up-button" id="myBtn" title="Go To Top"><i class="fa-solid fa-angle-up"></i></button>
</section>