<section class="header">

    <div class="flex">
        <a class="logo" href="{{ url_for('home') }}">
            <img alt="{{ des }}" src="{{url_for('static', filename='images/logo_1650360911.svg')}}" title="{{ des }}">
        </a>
        <div class="group-btn">

            {% if current_user.is_authenticated%}
            {%if current_user.avatar%}
            <img alt="{{current_user.hoten}}" height="50" src="{{current_user.avatar}} " width="50">
            {%else%}
            <img alt="" height="50" src="{{url_for('static',filename='images/icon1-png')}} " width="50">
            {%endif%}
            <a class="btn" href="/booking">Đặt Phòng</a>

            <a class="btn signout" href="{{url_for('user_logout')}}">Đăng Xuất</a>
            <h1> {{current_user.hoten}}</h1>

            {%else%}
            <a class="btn" href="/login">Đặt Phòng</a>
            <a class="btn login" href="/login">Đăng Nhập</a>
            <a class="btn signup" href="{{url_for('register')}}">Đăng Kí</a>
            {%endif%}
        </div>
        <div class="fas fa-bars" id="menu-btn"></div>
    </div>

    <nav class="navbar">
        <a href="{{ url_for('home') }}">trang chủ</a>
        <a href="#about">về chúng tôi</a>
        <a href="#services">dịch vụ</a>
        <a href="#contact">Liên Hệ</a>
        <a href="#reviews">reviews</a>
    </nav>

</section>