{% extends 'layout/base.html' %}
{% block title %}{{title}}{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block btn %}
<div class="group-btn">
    <a class="btn login" href="{{ url_for('login') }}">Đăng Nhập</a>
    <a class="btn signup" href="#signup">Đăng Kí</a>
</div>
{% endblock %}


{% block content %}
<h3 class="text-center text-warning" style="margin: 6rem 0 2rem 0">Đặt Phòng</h3>

<div class="row" style="margin: 2rem 0 4rem 0">
    <div class="col">
        {%for r in roomcategories%}
        <div id="accordion">
            <div class="card">

                <div class="card-header" id="headingOne">
                    <div class="card-deck">
                        <div class="row">
                            <div class="card" style="margin: 2rem">
                                <img alt="Card image cap" class="card-img-top" src="{{r.hinhanh}}">
                                <div class="card-body">
                                    <h5 class="card-title text-capitalize text-warning">{{r.loaiphong}}</h5>
                                    <p class="card-text">{{r.mieuta}}</p>
                                    <p class="card-text">Chỉ từ <span class="font-weight-bold text-warning"
                                                                      style="font-size: 1.5rem">1500000 VND</span> /đêm
                                    </p>
                                    <h5 class="mb-0">
                                        <button aria-controls="collapseOne" aria-expanded="true"
                                                class="btn btn-warning text-white" data-target="#collapse{{r.id}}"
                                                data-toggle="collapse">
                                            Chọn Phòng
                                        </button>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div aria-labelledby="headingOne" class="collapse" data-parent="#accordion" id="collapse{{r.id}}">
                        {%for d in rooms if r.id==d.LoaiPhong_id%}
                        <div class="card-body">
                            <div class="card-deck">
                                <div class="row">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col"><img alt="Card image cap" class="card-img-top"
                                                                      src="d.hinhanh"></div>
                                                <div class="col"><h5
                                                        class="card-title text-capitalize font-weight-bold  text-warning">
                                                    {{d.tenphong}}</h5></div>
                                                <div class="col">
                                                    <p class="card-text">Chỉ từ <span
                                                            class="font-weight-bold text-warning"
                                                            style="font-size: 1rem">{{r.dongia}} VND</span> /đêm</p>
                                                </div>
                                                <div class="col">
                                                    <h5 class="mb-0">
                                                        <button aria-controls=""
                                                                aria-expanded="true" class="btn btn-warning text-white"
                                                                data-target="#" data-toggle="collapse"
                                                                onclick="addToCart({{d.id}},'{{d.name}}',{{r.dongia}},'{{r.loaiphong}}')">
                                                            Thêm Phòng
                                                        </button>
                                                    </h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {%endfor%}
                    </div>
                </div>
            </div>
        </div>
        {%endfor%}
    </div>
    <div class="col">
        <div id="accordion2">
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <form action="" method="post">
                        <table class="table table-sm table-dark">
                            <h5 class="text-center text-warning justify-content-center">Thông Tin Phòng Đặt</h5>
                            <thead>
                            <tr>
                                <th scope="col">Tên Phòng</th>
                                <th colspan="2" scope="col">Giá Phòng</th>
                                <th scope="col">Số Phòng Đã Chọn</th>

                                <th scope="col">Ngày Nhận</th>
                                <th scope="col">Ngày Trả</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td scope="row">P01</td>
                                <td colspan="2" scope="row">1000</td>
                                <td scope="row">2</td>
                                <td scope="row"><input name="ngaynhan" type="date"></td>
                                <td scope="row"><input name="ngaytra" type="date"></td>


                            </tr>
                            <tr>
                                <td scope="row">P02</td>
                                <td colspan="2" scope="row">1000</td>
                                <td scope="row">2</td>
                            </tr>
                            <tr>
                                <td scope="row">P03</td>
                                <td colspan="2" scope="row">1000</td>
                                <td scope="row">2</td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <th scope="row">Tạm Tính</th>
                                <td colspan="4" scope="row">2333</td>
                                <td scope="row">
                                    <button aria-controls="collapseTwo" aria-expanded="false"
                                            class="btn btn-warning text-white collapsed"
                                            data-target="#collapseTwo" data-toggle="collapse"
                                            type="submit">Đặt
                                        Phòng
                                    </button>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </form>

                </div>
                <div aria-labelledby="headingTwo" class="collapse" data-parent="#accordion" id="collapseTwo">
                    <div class="card-body">
                        <form method="post">
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label for="inputUsername">Họ Tên Nhân Viên</label>
                                    <input class="form-control" id="inputUsername" placeholder="Nhập Tên Khách Hàng"
                                           type="text">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-8">
                                    <label for="inputCMND">CMND/CCCD</label>
                                    <input class="form-control" id="inputCMND" type="text">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputCountry">Quốc Gia</label>
                                    <select class="form-control" id="inputCountry">
                                        <option selected>Trong Nước</option>
                                        <option>Ngoài Nước</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputAddress">Địa Chỉ</label>
                                <input class="form-control" id="inputAddress" placeholder="Nhập Địa Chỉ" type="text">
                            </div>
                            <button class="btn btn-warning text-white " type="submit">Thêm Khách</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}